 @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


 * {
   margin: 0;
   padding: 0;

   box-sizing: border-box;

 }

 .navbar {
   padding: 0;
   background-color: rgb(231, 227, 227);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 3;
 }

 .navbar .navbar-brand {
   display: block;
   margin: 20px;
   color: #000;
   font-size: 25px;

 }

 #menu_control {
   position: absolute;
   /* 讓按鈕消失 */
   z-index: -5;
   display: none;
 }

 .header {
   width: 100%;
   height: 80px;
   position: relative;

 }

 .menu_btn {
   width: 50px;
   height: 40px;
   /* background-color: #000; */
   display: block;
   position: absolute;
   top: 20px;
   right: 40px;
   border: 2px solid #000;
   border-radius: 5px;
 }

 .menu_btn span {
   opacity: 0;
   color: #fff;
 }

 .menu_btn::before {
   content: '';
   position: absolute;
   width: 30px;
   height: 2px;
   background-color: #000;
   top: 0;
   bottom: 0;
   left: 10px;
   margin: auto;
   box-shadow: 0px 10px 0px #000,
     0px -10px 0px #000;
 }

 nav {
   width: 100%;
   height: 300px;
   background-color: rgb(231, 227, 227);
   position: absolute;
   top: 80px;
   left: -100%;
   right: 0;
   bottom: 0;
   z-index: 10;
   transition: .5s;
 }

 nav a {
   display: flex;
   text-decoration: none;
   color: #000;
   justify-content: center;
   line-height: 1;
   font-size: 24px;
   margin-top: 40px;
 }

 nav a:first-child {
   border-top: 1px solid #ccc;
   margin-top: 0;
   padding-top: 40px;

 }

 #menu_control:checked~.header nav {
   left: 0;
 }




 @media screen and (min-width: 768px) {
   .menu_btn {
     display: none;
   }

   .header {
     display: flex;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: #fff;
     width: 100%;
     height: 100px;
     z-index: 5;
   }

   nav {
     position: relative;
     top: 0;
     left: 0;
     display: flex;
     background-color: #fff;
     height: 80px;
     justify-content: flex-end;
     margin-right: 40px;
   }

   nav a {
     margin-top: 30px;
     padding-top: 0px;
     padding-left: 40px;
     width: auto;
   }

   nav a:first-child {
     border: none;
     margin-top: 30px;
     padding-top: 0px;
   }
 }

 .banner {
   margin-top: 80px;
 }

 .banner .src {
   position: relative;
 }

 .banner img {
   width: 100%;
   margin: 0 auto 10px;

 }

 .banner .name p{
   display: block;
   width: 100%;
   font-size: 30px;
   position: absolute;
   top: 40%;
   left: 0;
   right: 0;
   text-align: center;
   z-index: 2;
   color: #fff;
 }

 /* .container {
   padding: 0;
 } */

 .container .about .title {
   font-size: 1.5em;

 }

 .container .txt {
   padding: 20px;
 }

 .container .txt p {
   width: 100%;
   text-align: center;
   font-size: 1rem;

 }

 .container .pic {
   width: 50%;
   margin:0 auto;
   margin-bottom: 50px;
 }

 .container .pic img {
   width: 100%;
 }

 .edu {
   width: 100%;
   margin: 20px;
   padding-top: 50px;
 }

 .edu .title {
   font-size: 1.5em;
   margin: 20px;
 }

 .edu .txt,
 .exp {
   padding-top: 1em;
   display: flex;
   justify-content: center;
 }

 .skill {
   width: 100%;


 }

 .skill .title {
   font-size: 1.5em;
   margin: 20px;
 }

 .skill .content {
   padding: 10px 20px;
   text-align: center;

 }

 .skill .content ul {
   font-weight: 700;
   font-size: 1.5em;
 }

 .skill .content li {
   list-style: none;
   padding-top: 15px;
   font-weight: 400;
   font-size: 0.7em;
 }

 .skill .web {
   position: relative;
 }

 .skill .web ul::before {
   content: '';
   width: 30%;
   height: 0.1em;
   background-color: #000;
   position: absolute;
   top: 13%;
   left: 35%;
   right: 0;

 }

 .skill .other {
   position: relative;
 }

 .skill .other ul::before {
   content: '';
   width: 30%;
   height: 0.1em;
   background-color: #000;
   position: absolute;
   top: 30%;
   left: 35%;
   right: 0;

 }

 .skill .git {
   position: relative;
 }

 .skill .git ul::before {
   content: '';
   width: 30%;
   height: 0.1em;
   background-color: #000;
   position: absolute;
   top: 42%;
   left: 35%;
   right: 0;

 }

 .skill .language {
   position: relative;
 }

 .skill .language ul::before {
   content: '';
   width: 30%;
   height: 0.1em;
   background-color: #000;
   position: absolute;
   top: 29%;
   left: 35%;
   right: 0;

 }

 .works {
   width: 100%;

 }

 .works .title {
   font-size: 1.5em;
   padding: 20px;
 }

 .works .demo {
   width: 80%;
   margin: auto;
   position: relative;
 }

 .works .demo img {
   width: 100%;
   margin: auto;
   vertical-align: middle;
 }

 .works .demo .txt {

   position: absolute;
   top: 20%;
   left: 25%;
   right: 25%;
   text-align: center;
   font-size: 36px;
   color: #fff;


 }

 

 .works .explain {
   margin: 20px;
   padding: 1.2em;
 }


 @media screen and (min-width:768px) {


   
   .banner .name p{
     font-size: 48px;
   }

   .container {

     margin: 50px auto;
     padding: 0 20px;
     display: flex;
     max-width: 100%;
     position: relative;
   }

   .container .about .title {
     font-size: 48px;
     padding-bottom: 20px;

   }

   .container .txt {
     width: 50%;
   }

   .container .txt p {
     font-size: 20px;
     text-align: left;
   }

   .container .pic {
     width: 50%;
     margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: center;

   }

   .container .pic img {
     
     max-width: 50%;
   }

   /* .container .pic::before{
    content: '';
    min-width: 300px;
    min-height: 600px;
    position: absolute;
    top: 13%;
    left: 60%;
    right: 0;
    z-index: -5;
    border: 5px solid #000;
    transform: rotate(10deg);
  } */
   .edu {
     margin: 0;
     height: 500px;
     background-color: rgb(175, 194, 212);

   }

   .edu .txt,
   .exp {
     margin: 50px;
   }

   .edu .title {
     font-size: 48px;
   }

   .edu .txt,
   .exp {
     justify-content: start;
     font-size: 36px;
   }

   .skill .title {
     font-size: 48px;
   }

   .skill .content {
     width: 100%;
     display: flex;
   }

   .skill .web,
   .other,
   .git,
   .language {
     width: 25%;
   }

   .skill .web ul::before {
     display: none;
   }

   .skill .other ul::before {
     display: none;
   }

   .skill .git ul::before {
     display: none;
   }

   .skill .language ul::before {
     display: none;
   }

   .skill .web li{
     font-size: 22px;
   }
   .skill .other li{
     font-size: 22px;
   }
   .skill .git li{
     font-size: 22px;
   }
   .skill .language li{
     font-size: 22px;
   }

   .works {
     background-color: rgb(175, 194, 212);
   }

   .works .title {
     font-size: 48px;
   }

   .works .demos {
     width: 90%;
     margin: auto;

     display: flex;
   }

   .works .demos .demo {
     padding: 20px;
   }
 }